* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

/* Attributi della struttura del contenitore */
.container { 
    max-width: 800px;
    margin: 0 auto;
}

/* attributi estetici contenitore */
.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    font-family:"Inter", sans-serif;
}

.page-header {
    padding: 5px 5px 5px 15px;
    background-color: white;
}

.header-logo {
    width: 200px;
}

.content {
    padding: 60px 0;
}

/* selettore per struttura bottone */
.bottone {
    padding: 4px;
}

.bottone.blu {
    background-color: #2c8bf1;
    border-radius: 5px;
    border: 1px solid #2c8bf1 ;

}

.bottone.bianco {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(198, 191, 191);
}

.lista {
    line-height: 2em;
    list-style: none;
}

.new-task {
    margin-top: 10px;
    border-top: 1px solid rgb(245, 244, 244);
    padding-top: 20px;
}

.sezione-nt {
    margin-bottom: 15px;
}

.sezione-t {
    margin-bottom: 15px;
}

.container .check-mark { 
    display: inline-block;
    width: 15px;
    height: 15px;
   color: greenyellow;
   border-radius: 50%;
}
.container .multiplier {
    color: red;
    font-size: 20px;
}

.etichetta {
    border-radius: 20px;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.blu {
    background-color: #2c8bf1;
}

.viola {
    background-color: rgb(125, 44, 125);
}

.arancione {
    background-color: orange;
}

.fucsia {
    background-color: fuchsia;
}

.verde {
    background-color: green;
}

.verdem {
    background-color: rgb(149, 203, 69);
}












