* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

.container { 
    max-width: 800px;
    margin: 0 auto;
}

.page-header {
    padding: 5px 5px 5px 15px;
    background-color: white;
}

.header-logo {
    width: 200px;
}

.content {
    padding: 60px 0;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    font-family:"Inter", sans-serif;
}

.bottone {
    padding: 4px;
}

.bottone.blu {
    background-color: #2c8bf1;
    border-radius: 5px;
    border: 1px solid #2c8bf1 ;

}

.bottone.bianco {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(198, 191, 191);
}

.lista {
    line-height: 1.7em;
    list-style: none;
}

.new-task {
    margin-top: 10px;
    border-top: 1px solid rgb(245, 244, 244);
    padding-top: 20px;
}




